# ignore all files without extension
*
!*.*
!*/

# un-ignore LICENSE file
!LICENSE

# ignore executable file
*.exe

# ignore DS_Store
*DS_Store

# ignore test cases
*/tc/*

# ignore vim swap files
*.swp
*.swo
